html {
  background: -webkit-linear-gradient(#B4BBBF, #58585a);
  background: -o-linear-gradient(#B4BBBF, #58585a); 
  background: -moz-linear-gradient(#B4BBBF, #58585a);
  background: linear-gradient(#B4BBBF, #58585a); 
  margin:auto;
  width: 80%;
  font-family: 'Josefin Sans', sans-serif;
}
* { box-sizing: border-box; }
.toppage {
  position: fixed;
  top 0;
  left 0;
  background-color: #58585a;
  height: 6rem;
  width: 100%;
}
nav {
  position: fixed;
  top 0;
  left 0;
  background-color: #f7941e;
  width: 100%;
  height: 2rem;
  margin-top: 6rem;
}
nav a {
  color: #58585a;
  text-decoration: none;
  text-align: left;
  margin: 1em;
}
body {
  background-width: 80%;
}
.main {
  text-align: center;
  width: 100%;
  float: left;
  padding: 0 10rem 0 8rem;
  margin: 5rem 0 0 3rem;
}
.who {
  margin: 3rem;
  padding: 2rem;
}
.logo {
  width: 40%;
  height: 40%;
  margin-left: 2%;
}
p {
  color: black;
  text-align: center;
}
h1 {
  font-size: 3rem;
  color: white;
  text-align: center;
}
h2 {
  font-size: 2rem; 
  color: white;
  text-align: center;
}
h3 {
  font-size: 1rem;
  font-weight: 700;
  color: #f7941e;
}
p::first-letter {
  font-size: 1.3rem;
}
.skills {
  word-spacing: 3em;
}
ul {
  list-style: none;
  margin-left: 15%;
}
#projects {
  text-align: center;
  width: 100%;
  float: left;
  margin: 10rem 0 1rem 0;
}
.one, .two, .three, .four, .five, .six, .seven, .eight, .nine {
  float: left;
  padding: .5rem;
  margin: 2rem;
  vertical-align: text-bottom;
  display: inline-block;
  text-align: center;
  width: 110px;
}
.four {
  clear:both;
}
.seven {
  clear: both;
}
footer {
  clear: both;
  background: #58585a;
  padding: 2rem; 
  width: 100%;
  height: 2rem; 
  margin: 1rem;
}




    

  